config node red.txt
[{"id":"c28dcd2e.91722","type":"serial in","z":"869f1c3e.0cb2","name":"wiring","serial":"75ae14f0.c5478c","x":55,"y":161.1999969482422,"wires":[["7852f8a9.5765d8"]]},{"id":"7852f8a9.5765d8","type":"function","z":"869f1c3e.0cb2","name":"format wiring","func":"var res = {};\nvar lecturaArray = [];\nvar frecuenciaCardiaca = \"\";\nvar presionSistolica = \"\";\nvar presionDiastolica = \"\";\nvar nivelEstres = \"\";\n\nlecturaString = msg.payload;\nlecturaArray = lecturaString.split(\"@\");\nfrecuenciaCardiaca = parseInt(lecturaArray[0]);\npresionSistolica =parseInt(lecturaArray[1]);\npresionDiastolica = parseInt(lecturaArray[2]);\nnivelEstres = parseInt(lecturaArray[3]);\nres.topic = \"lectura\";\nres.payload = {};\n\nres.payload = {\"frecuenciaCardiaca\": frecuenciaCardiaca,\n                \"presionSistolica\": presionSistolica,\n                \"presionDiastolica\": presionDiastolica,\n                \"nivelEstres\" : nivelEstres\n}\n\nreturn res;","outputs":1,"noerr":0,"x":257.99998474121094,"y":152.1999969482422,"wires":[["edb6ef79.a908b"]]},{"id":"edb6ef79.a908b","type":"http request","z":"869f1c3e.0cb2","name":"lectura post","method":"POST","ret":"obj","url":"172.24.42.40:9000/lectura/4","tls":"","x":447.70001220703125,"y":153,"wires":[["4a23e6a7.e4c278"]]},{"id":"4a23e6a7.e4c278","type":"debug","z":"869f1c3e.0cb2","name":"","active":true,"complete":false,"x":611.7000122070312,"y":42,"wires":[]},{"id":"75ae14f0.c5478c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]